@tailwind base;
@tailwind components;
@tailwind utilities;

:root[data-theme="light"] {
  --background: #ffffff;
  --foreground: #000000;
}

:root[data-theme="dark"] {
  --background: #000000;
  --foreground: #ffffff;
}

@media (prefers-color-scheme: light) {
  :root {
    --background: #ffffff;
    --foreground: #000000;
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #000000;
    --foreground: #ffffff;
  }
}

/* Global styles for all text elements */
html {
  font-size: 13pt;
}

body {
  color: var(--foreground);
  background: var(--background);
  transition: color 0.3s ease, background-color 0.3s ease;
  font-size: 1rem;
}

a, button, [role="button"] {
  padding-right: 0.1em;
  transform: translateZ(0); 
  backface-visibility: hidden; 
}
a:hover, button:hover, [role="button"]:hover {
  font-style: italic;
}

@keyframes scale {
  0%, 100% {
    transform: scale(1);
  }
  80% {
    transform: scale(1.05);
  }
}

/* Container layouts */
.page-container {
  min-height: 50vh;
  padding: 2rem;
  position: relative;
}

/* Project list styles */
.project-list {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  padding-top: 1.5rem;
  position: relative;
  z-index: 1;
}

.project-row {
  position: relative;
  display: flex;
  align-items: center;
  cursor: pointer;
  padding-top: 0.01rem;
}

.project-row:hover .project-text {
  font-style: italic;
}

.project-id {
  position: absolute;
  left: 1.8rem;
}

.project-name {
  margin-left: 60%;
}

.project-year {
  position: absolute;
  right: 1.9rem;
}

/* Image preview styles */
.image-preview-container {
  position: fixed;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  z-index: -1;
  pointer-events: none;
}

.preview-image {
  max-width: 80vw;
  max-height: 80vh;
  object-fit: contain;
}
